.sidebar {
  width: 280px;
  min-width: 280px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  min-height: 100vh;

  padding: 24px 18px;

  position: sticky;
  top: 0;

  overflow-y: auto;
}

.sidebar-logo {
  display: flex;
  align-items: center;

  gap: 14px;

  margin-bottom: 35px;
}

.logo-circle {
  width: 52px;
  height: 52px;

  border-radius: 16px;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #ec4899
  );

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-size: 18px;
  font-weight: 700;

  box-shadow: 0 12px 24px rgba(124,58,237,.25);
}

.sidebar-logo h2 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.sidebar-logo span {
  font-size: 13px;
  color: #6b7280;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;

  gap: 8px;

  flex: 1;
}

.sidebar-link {
  display: flex;
  align-items: center;

  gap: 14px;

  height: 52px;

  padding: 0 18px;

  border-radius: 14px;

  color: #6b7280;

  text-decoration: none;

  transition: .25s;

  font-weight: 600;
}

.sidebar-link:hover {
  background: #f8f5ff;

  color: #7c3aed;
}

.sidebar-link.active {
  background: linear-gradient(
    135deg,
    #7c3aed,
    #9333ea
  );

  color: white;

  box-shadow: 0 12px 24px rgba(124,58,237,.25);
}

.sidebar-icon {
  font-size: 22px;

  display: flex;
  align-items: center;
}

.sidebar-footer {
  margin-top: 30px;

  border-top: 1px solid #ececec;

  padding-top: 22px;

  display: flex;
  align-items: center;

  gap: 14px;
}

.admin-avatar {
  width: 46px;
  height: 46px;

  border-radius: 50%;

  background: linear-gradient(
    135deg,
    #7c3aed,
    #ec4899
  );

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-weight: 700;
}

.sidebar-footer h4 {
  font-size: 15px;
  color: #111827;
}

.sidebar-footer p {
  font-size: 13px;
  color: #6b7280;
}